# GLOBAL CONFIGURATION
spring:
    # if you want to set a different profile
    # use environment variable:
    #
    # SPRING_PROFILES_ACTIVE=docker
    profiles.active: local
    application.name: Product
    stream:
      bindings:
         output:
            destination: orgChangeTopic
            content-type: application/json
         kafka:
            binder:
               zkNodes: localhost
               brokers: localhost

eureka.instance:
    # send ip addresses to the discovery. this is
    # important for client side load balancing
    preferIpAddress: true
    # push this service all 10 seconds to the registry
    leaseRenewalIntervalInSeconds: 10
    metadataMap.instanceId: ${vcap.application.instance_id:${spring.application.name}:${spring.application.instance_id:${server.port}}}

---
# DOCKER CONFIGURATION
spring:
    profiles: docker
    datasource.url: jdbc:mysql://mysql-container:3306/product?useSSL=FALSE&allowPublicKeyRetrieval=true
    datasource.username: springuser
    datasource.password: timao
    datasource.driver-class-name: com.mysql.jdbc.Driver
    jpa.hibernate.ddl-auto: update
    kafka.bootstrap-servers: kafka:9090
    

# inside a container, we can always map to 8080. Use your compose
# file to expose a service on a different port.
server.port: 8080

# the hostname of your eureka server should be 'discovery'.
eureka.client.serviceUrl.defaultZone: http://discovery:8761/eureka/

---
# LOCAL CONFIGURATION
spring:
    profiles: local
    datasource.url: jdbc:mysql://mysql-container:3306/product?useSSL=FALSE&allowPublicKeyRetrieval=true
    datasource.username: springuser
    datasource.password: timao
    datasource.driver-class-name: com.mysql.jdbc.Driver
    jpa.hibernate.ddl-auto: update
    
# random server port to avoid port 
# conflicts on localhost
server.port: 0

eureka.client:
    # in local mode you have to run your service 
    # discovery on localhost (you also can run the 
    # cloud infrastructure on your local docker host)
    serviceUrl.defaultZone: http://localhost:8761/eureka/
    # fetch all 5 seconds the delta from the service registry
    registry-fetch-interval-seconds: 5
    


